.App {
  text-align: center;
}

.body, html {
  background: #FC6C2D;
}

#app {
  margin: auto;
  text-align: center;
}

img {
  border-radius: 50%;
  height: 50vh;
  width: 25vw;
  border: solid black 4px;
}
